flask
flask-cors
flask-bcrypt
python-dotenv
sqlalchemy
pydantic>=2.0.0
bcrypt
pyjwt
python-jose[cryptography]
requests
pytesseract
Pillow
easyocr
azure-ai-inference
azure-ai-formrecognizer
azure-core
openai
pyyaml
types-pytz
locust
gunicorn
prometheus_client
psycopg2-binary
torch==2.2.0